/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 1080px!important

th {
  background-color: #f6f8fa;
  text-align: center !important;
}
tr:nth-child(2n) {
  background-color: inherit;
}

body{
  max-width: 100%;
}